<footer class="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="col-md-4 text-center footer-link">
                <a href="https://github.com/SimpleCloudManagerProject/Scamp" target="_blank">
                    Github
                </a>
            </div>
            <div class="col-md-4 text-center footer-link">
                <a href="" target="_blank">
                    About
                </a>
            </div>
            <div class="col-md-4 text-center footer-link">
                <a href="#">
                    Support
                </a>
            </div>
        </div>
    </div>
</footer>