<div class="widget">
    <p>This table shows on the Group Administrator view</p>
    <div class="widget-header">
        <i class="fa fa-tasks"></i> Groups
    </div>
    <div class="widget-body no-padding">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name <i class="fa fa-caret-down"></i></th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr data-ng-repeat="group in groups"> -->
                    <tr>
                        <td><a href="#/groups/{{group.id}}">{{group.name}}</a></td>
                        <td>{{group.description}}</td>
                    </tr>
                    <tr>
                        <td><a href="#">Physics 101-001</a></td>
                        <td>Physics 101 -- Lecture 8-9 MWF, Lab 8-12 TR</td>
                    </tr>
                    <tr>
                        <td><a href="#">Physics 101-002</a></td>
                        <td>Physics 101 -- Lecture 12-1 MWF, Lab 12-4 TR</td>
                    </tr>
                    <tr>
                        <!-- I don't know anything about Angular, so this could be totally wrong... -->
                        <td><input type="text" class="form-control" ng-model="newTemplateName"></td>
                        <td><input type="text" class="form-control" ng-model="newTemplateDesc"></td>
                        <td><button type="button" class="btn btn-default">Add</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
