<div class="col-xs-12" ng-hide="!isLoggedOn" >
    <div class="user pull-right" >
        <div class="item dropdown" ng-hide="!isLoggedOn" >

            <a href="" ng-click="logout()">Log out</a>
        </div>
    </div>
    <div class="meta">
        <div class="page profile-info">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle-thin fa-stack-2x"></i>
                <i class="fa fa-user fa-stack-1x"></i>
            </span>
                 {{userProfile.name}}
        </div>
    </div>
</div>