<div class="container">
    <img src="/App/Images/Logo-Blue_med.png" />

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id finibus arcu, vitae convallis enim. Aliquam erat volutpat. Maecenas mollis iaculis magna, sed malesuada nisi bibendum sit amet. Sed at sapien ornare nulla sodales sollicitudin. Suspendisse erat tellus, suscipit sit amet massa et, lobortis consequat eros. Cras sed sem sagittis, finibus lectus et, efficitur dui. Quisque aliquet leo in turpis aliquet, vitae dictum justo varius. Integer dictum velit a erat porttitor, ac pretium eros pulvinar. Suspendisse suscipit erat non dui faucibus, eget pellentesque est commodo. Cras tempus est vel condimentum lacinia. Donec molestie lorem orci. In suscipit ultricies dui, et vehicula enim. Cras finibus ligula odio, vel venenatis odio ullamcorper vel. Integer sagittis malesuada auctor. Sed pretium porta augue, a euismod massa lacinia sed. Nulla leo mauris, iaculis a diam non, suscipit elementum diam.</p>

    <button ng-hide="isLoggedOn" ng-click="login()">Log in to Scamp</button>
</div>
