<ul class="sidebar">
    <li class="sidebar-main">
        <a {{action "toggleSidebar" target=view}}>
            Scamp
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
        </a>
    </li>
    <li class="sidebar-title"><span>NAVIGATION</span></li>
    <li class="sidebar-list">
        <a href="#/dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
    </li>
    <li class="sidebar-list">
        <a href="#/resources">Resources <span class="menu-icon fa fa-cloud"></span></a>
    </li>
    <li class="sidebar-list">
        <a href="#/logs">Logs <span class="menu-icon fa fa-list"></span></a>
    </li>
    <li class="sidebar-list">
        <a href="#/settings">Settings <span class="menu-icon fa fa-cog"></span></a>
        - <a href="#/settings/admins">System Admins</a>
        - <a href="#/settings/subs">Subscriptions</a>
        - <a href="#/settings/logs">System Logs</a>
    </li>
</ul>
<div class="sidebar-footer">
    <div class="col-xs-4">
        <a href="https://github.com/SimpleCloudManagerProject/Scamp" target="_blank">
            Github
        </a>
    </div>
    <div class="col-xs-4">
        <a href="" target="_blank">
            About
        </a>
    </div>
    <div class="col-xs-4">
        <a href="#">
            Support
        </a>
    </div>
</div>
