@model  ScampTypes.ViewModels.ScampSettings

@{
	var serSettings = new Newtonsoft.Json.JsonSerializerSettings
	{
        ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver()
    };
    var settingsJson = Newtonsoft.Json.JsonConvert.SerializeObject(Model, serSettings);
}

@section  head{

}

<div ng-app="scamp" ng-controller="homeCtrl" role="document">
    <div ng-include="'/App/Views/Header.html'">
        <!--header-->
    </div>
    <main id="main" class="site-main" role="main">
        <section class="section" id="home">
            <div class="container">
                <div class="row content-row">
                    <div>
                        <div ng-view id="dashboard" class="page-content">
                            <!--page content-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div ng-include="'/App/Views/Footer.html'">
        <!--header-->
    </div>
</div>
@section scripts{

    <script>
        var scampConfig = scampConfig || {};
        scampConfig.settings = @Html.Raw(settingsJson);
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.25/angular-route.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/adal.js"></script>
    <script src="https://secure.aadcdn.microsoftonline-p.com/lib/1.0.0/js/adal-angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/bloodhound.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.jquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.js"></script>
    <!--Includes Required for Morris.js Charts-->
    <!--
        <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
        <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
    -->


    <script src="~/app/scripts/app.js"></script>

    <script src="~/app/scripts/modules/ServicingUtils.js"></script>
    <script src="~/app/scripts/modules/ScampWebSocket.js"></script>
    <script src="~/app/scripts/modules/ScampDashboard.js"></script>
    <script src="~/app/scripts/modules/Typeahead.js"></script>

    <script src="~/app/Services/systemSettingsSvc.js"></script>
    <script src="~/app/Services/userSvc.js"></script>
    <script src="~/app/Services/fileSvc.js"></script>

    <script src="~/app/scripts/homectrl.js"></script>
    <script src="~/app/scripts/homeSvc.js"></script>
    <script src="~/app/scripts/userdatactrl.js"></script>
    <script src="~/app/scripts/resourcesctrl.js"></script>
    <script src="~/app/scripts/resourcessvc.js"></script>
    <script src="~/app/scripts/dashboardctrl.js"></script>
    <script src="~/app/scripts/dashboardsvc.js"></script>
    <script src="~/app/scripts/groupsSvc.js"></script>
    <script src="~/app/scripts/settingsCtrl.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

}