.dashboard.page-content{
    padding:1em;
    color:#000;
}

.dashboard ul{
    list-style-type: none;
}

.dashboard-side-div .list-group {
  padding: 10px;
  background-color: #080808;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.dashboard .group-item-icon {
  width: 25px;
  display: inline-block;
  position: absolute;
  margin-top: 10px;
}
.dashboard .group-item-status {
  padding-left: 25px;
}

.dashboard .top-header {
    padding:2em 4em;
}

h4{
    margin-bottom: 0px!important;
}

table>thead{
      font-size: 10px;
      font-weight: bold;
}

.progress-bar{
    font-size: 8px!important;
}

table>tbody{
      font-size: 10px;
}

.dashboard .notification-number {
    margin-right:2px;
}

.dashboard .user {
    margin-left:10px;
    font-size:1.4em;
}

.dashboard .user .fa-user{
    font-size:1.4em;
}

.dashboard .nav-block{
    border-top:2px solid #555;
    border-bottom:2px solid #555;
    padding:0;
    margin:0;
    height:60px;
}

.dashboard .nav-block li{
    float: left;
    min-width:100px;
    margin:0 5px;
    padding:18px 30px;
    border-right:1px solid #555;
}

.dashboard .nav-block li.search{
    padding:0;
    margin-left:150px;
    border-right:0;
}
.dashboard .nav-block li.search input{
    padding:18px 10px;
    border:0;
    background-color:#efefef;
}

.dashboard-side-div{
    overflow-x: hidden;
}

.resource-group-item.active,
.resource-group-item.active:focus,
.resource-group-item.active:hover,
.resource-group-item:hover,
.resource-group-item:focus {
  background-color: #080808 !important;
}

.resource-group-item {
  color: #fff !important;
  background-color: #222 !important;
  border: 1px solid #000 !important;
}

.dashboard .dashboard{
    padding:0 3em;
}

.progress{
    margin-bottom: 0px!important;
}

.dashboard .graph-row{
    width:30%;
}

.dashboard .test-graph {
    height:200px;
    margin-bottom:-20px;
}

.group-summary{
    margin-top:0px;
    
}

.group-summary h3{
    margin-top:0px;
    border-bottom: 1px solid #3972A5;
    font-size: 18px;
    color: #333;
    padding-bottom: 9px;
}

.dashboard .summary-items{
  background-color: #F8F9F3;
  padding: 5px;
  margin-top: 16px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #6A7279;
}

.dashboard .summary-items li{
    margin-top:15px;    
    font-size:.85em;
}

.dashboard .summary-items li:nth-child(even){
    float:left;
    margin-right:20px;
}

.dashboard .summary-items li .summary-value{
    margin-left:10px;
    padding:4px;
    font-weight:bolder;
}

.dashboard .list{
    padding:0;
}