
.logo{
  height: auto;
  width: auto;
  max-width: 80px;
  max-height: 80px;
}

.container{
    width: 99%!important;
}

.navbar-default{
    background-color: #191919!important;
    padding-top: 1px;
}

.navbar-nav>li{
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff!important;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  display: block;
  padding: 10px 15px;
  position: relative;
  font-size: 11px !important;
  font-family: 'Montserrat', sans-serif !important;
  text-transform: uppercase;
}

.page-content {
    padding: 10px;
}

body{
  font-family: Circular,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
} 

.navbar-default {
  border-top-left-radius: 10px!important;
  border-bottom-left-radius: 10px!important;
  border-top-right-radius: 10px!important;
  border-bottom-right-radius: 10px!important;
}

 .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > span > a {
	color: rgb(85, 85, 85);
	background-color: #2e2f33!important;
    background: url(/App/images/background-gradient.png) 0 0 repeat;
}


 .menuUnderline:hover{
     opacity: 0.5;
 }

 .navbar-brand {
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  left: 50%;
  margin-top: -13px;
  margin-left: -20px !important;
}

.menuUnderline a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.menuUnderline a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.page-content{
  height: 100%; 
  color: #fff;
}

.content-row{
      margin-top: 74px;
}

body {
    background-color: #2e2f33 !important;
}

.dropdown-menu, .open>a{
    background-color:#2d2d2e !important; 
}

.dropdown-menu{
    border: 1px solid #676e6b !important;
}
.dropdown-menu>li>a{
    color:#fff!important;
}

.dropdown-menu>li>a:hover{
    opacity:0.8;
    background-color:#44484d !important;
}

.dropdown-menu>li>a:hover{color:#fff!important;}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.footer{
    height: 40px; 
    background-color: #191919;
    margin-top: 6px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #444543;
}

.footer-link{
    color:#fff;
}

footer a {
            color: #fff;
}
footer a:hover {
            color: #999;
}

.navbar-default {
    border-color: #45525A!important;
}