.padding {
	padding: 10px;
}
.widget-body .input-group {
	margin-bottom: 10px;
}
.widget-body :last-child.input-group {
	margin-bottom: 0px;
}
#addResource {
	margin-left: 0px;
}
.resource .progress {
	min-width: 50px;
}
.page::first-letter {
	text-transform: uppercase;
}
.visible {
	display: block; visibility: visible; opacity: 1;
}

.page-content {
    padding: 10px;
    background: #fff;
}

.profile-info {
    font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif!important;
    font-size: 12px!important;
    line-height: 1.42857143!important;
    color: #949494!important;
}

#breadcrumb {
  padding: 0;
  line-height: 40px;
  background: #525252;
  background: #5a8db6 url(/app/images/devoops_pattern_b10.png) 0 0 repeat;
  margin-bottom: 20px;
}

#content-header{
    color: #333!important;
    border-bottom: 1px solid #337ab7;
    padding-bottom: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#content-header h3{
  padding-top: 0px;
    font-size: 18px;
  margin-top: 0px;
}

#ow-marketplace {
  margin-top: 20px;
}

.page-header {
  padding-bottom: 9px!important;
  margin: 4px 0 10px!important;
  border-bottom: 1px solid rgb(115, 139, 192)!important;
  text-transform:uppercase;
}

h4, .h4 {
  font-size: 18px;
}

h2 {
    display: inline;
}

.chartTitle{
  font-size: 13px!important;
  font-weight: bold!important;
  padding-left: 37px!important;
}

#usageDonutChart{
    width:120px!important;
    height:120px!important;
}

.smallInputSelect{
    width: 60px!important;
    height: 24px!important;
    font-size: 10px!important;
    display: inline!important;
}