.table {
  width: 100%;
  margin-bottom: 20px;
}
table {
  max-width: 100%;
  background-color: transparent;
  white-space: nowrap;
  border-spacing: 0;
  font-size: 12px;
  border-collapse: collapse;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

.table-heading thead tr {
  background-color: #f0f0f0;
  
  background-image: -webkit-linear-gradient(top, #f0f0f0, #dfdfdf);
  background-image: -moz-linear-gradient(top, #f0f0f0, #dfdfdf);
  background-image: -ms-linear-gradient(top, #f0f0f0, #dfdfdf);
  background-image: -o-linear-gradient(top, #f0f0f0, #dfdfdf);
  background-image: linear-gradient(to bottom, #f0f0f0, #dfdfdf);
}

.table-heading thead tr th {
  vertical-align: bottom;
  line-height:0.8!important;
  border-bottom: 2px solid #ddd;
}

.m-table > thead > tr > th, .m-table > tbody > tr > th, .m-table > tfoot > tr > th, .m-table > thead > tr > td, .m-table > tbody > tr > td, .m-table > tfoot > tr > td {
  vertical-align: middle;
  padding: 2px 5px;
}

.beauty-table {
  width:100%;
  border-collapse:separate;
  border-spacing:0;
}
.beauty-table input {
  border:1px solid transparent;
  background: none;
  font-size: 16px;
  text-align: center;
  padding:2px 15px !important;
  width:100%;
  outline:none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.beauty-table input:focus {
  border:1px solid #dfdfdf;
  background: #fefefe;
  font-size: 16px;
  text-align: center;
  padding: 2px 15px !important;
  width:100%;
  outline:none;
}

td.beauty-hover {
  background-color: rgba(219, 219, 219, 0.3) !important;
}
.table-hover > tbody > tr:hover > td.beauty-hover:hover {
  background-color: rgba(219, 219, 219, 0.9) !important;
}

.action-cell{
    padding-right:8px;
    padding-top:4px;
}