<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scamp</title>
    <link href="/App/Stylesheets/vendor.css" rel="stylesheet">
    <link href="/App/Stylesheets/tables.css" rel="stylesheet">
    <link href="/App/Stylesheets/scamp.css" rel="stylesheet">
    <link href="/App/Stylesheets/dashboard.css" rel="stylesheet">
    <link href="/App/Stylesheets/layout.css" rel="stylesheet">
    <link href="/App/Stylesheets/notifications.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @RenderSection("head", false)
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>